{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'doctors:index' %}">
        Больница
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:about' %} text-white {% endif %}" href="{% url 'pages:about' %}">
              О проекте
            </a>
          </li>
          {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <a class="btn btn-outline-primary" href="{% url 'doctors:profile' user.id %}">Мой профиль</a>
              <a class="btn btn-outline-primary" href="{% url 'logout' %}">Выйти</a>
            </div>
          {% else %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <a class="btn btn-outline-primary" href="{% url 'login' %}">Войти</a>
              <a class="btn btn-outline-primary" href="{% url 'doctors:register' %}">Регистрация</a>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>