{% extends "base.html" %}
{% block title %}
  О городской больнице
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О городской больнице
      </div>
      <div class="card-body">
        <p>
          <strong>Городская больница</strong> — это место, где каждый житель города может получить квалифицированную медицинскую помощь.
          Наш коллектив — это команда профессионалов, преданных своему делу.
        </p>
        <p>
          В нашей больнице работают терапевты и узкие специалисты, готовые принять вас в удобное время.
          Мы стремимся сделать процесс записи на приём максимально простым и доступным,
          а пребывание в больнице — комфортным.
        </p>
        <p>
          На сайте вы можете ознакомиться с расписанием работы врачей, узнать о доступных специалистах и записаться на приём онлайн.
          Мы ценим ваше время и здоровье!
        </p>
        <p>
          <strong>Наша миссия</strong> -  обеспечить качественное и своевременное медицинское обслуживание для каждого пациента.
          Мы постоянно совершенствуем свои навыки и внедряем новые технологии, чтобы оказывать медицинскую помощь на самом высоком уровне.
        </p>
      </div>
    </div>
  </div>
{% endblock %}